@import "main.scss";

.portfolio {
    min-height: 80vh;
    margin-left: 40px;
    h1 {
        font-size: clamp(100%, 65px, 70px);
        margin-bottom: 50px;
    }
    &_content{
        img{
            width: 300px;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
