---
import Layout from "../components/Layout.astro";
import Menu from "../components/Menu";
---

<Layout titlePage="About">
    <div class="page">
        <Menu client:load />
        <div class="main">
            <div class="about">
                <h1 class="about-title">About me</h1>
                <div class="about-desc">
                    <p>
                        Hi, my name is Yonderi Diaz. I am a Full-Stack developer
                        with 4 years of experience in the field.
                    </p>
                    <p>
                        During my career, I have acquired a wide range of skills
                        in backend and frontend technologies such as Node.js,
                        JavaScript, Express, React, React Native, Next.js,
                        Angular, Svelte, Docker, etc...
                    </p>
                    <p>
                        I also have experience working with a variety of
                        database engines such as SQL Server, MySQL, and MongoDB.
                        I have worked on both individual and team projects and
                        have had the opportunity to develop applications for
                        external clients or companies on a freelance basis.
                    </p>
                    <p>
                        I'm a high skilled professional and I’m always looking
                        for new challenges and opportunities to continue
                        learning and improving my skills.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style lang="scss">
    @import "../styles/main.scss";

    .about {
        height: 100dvh;
        place-content: center;
        &-title {
            font-size: clamp(100%, 65px, 70px);
            margin-bottom: 50px;
            text-align: center;
        }
        &-desc {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            p {
                font-size: clamp(100%, 25px, 20px);
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
</style>
