---
import Layout from "../components/Layout.astro";
import Menu from "../components/Menu";
import NotAvailable from "../components/NotAvailable.astro";
---

<Layout titlePage="Skills">
    <div class="page">
        <Menu client:load />
        <div class="main">
            <NotAvailable />
            <div class="skills">
                <h1>Skills</h1>
                <div class="skills-frontend">
                    <h2>Frontend</h2>

                    <div>
                        <div class="html5">
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/174/174854.png"
                                alt="HTML5"
                            />
                            <h3>HTML5</h3>
                        </div>
                        <div class="pug">
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/4843/4843845.png"
                                alt="PUG"
                            />
                            <h3>PUG</h3>
                        </div>
                        <div class="css3">
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/732/732190.png"
                                alt="CSS3"
                            />
                            <h3>CSS3</h3>
                        </div>
                    </div>

                    <ul>
                        <li>SASS</li>
                        <li>JavaScript</li>
                        <li>NextJS</li>
                        <li>React</li>
                    </ul>
                </div>
                <div class="skills-backend">
                    <h2>Backend</h2>
                    <ul>
                        <li>NodeJS</li>
                        <li>DenoJS</li>
                        <li>TypeScript</li>
                        <li>Express</li>
                        <li>NestJS</li>
                        <li>GRAPHQL</li>
                        <li>API Rest</li>
                        <li>Docker</li>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class="skills-mobile">
                    <h2>Mobile</h2>
                    <ul>
                        <li>React Native</li>
                        <li>Expo</li>
                    </ul>
                </div>
                <ul></ul>
            </div>
        </div>
    </div>
</Layout>

<style lang="scss">
    @import "../styles/main.scss";

    .skills {
        margin-left: 60px;
        display: none;
        h1 {
            font-size: clamp(100%, 65px, 70px);
            margin-bottom: 50px;
            text-align: center;
        }

        .skills-frontend {
            & > div {
                display: flex;
                gap: 10px;
                .html5,
                .pug,
                .css3 {
                    display: flex;
                    align-items: center;
                    // gap: 5px;
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }
</style>
